*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('bg.jpeg');
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.taskbar{
    z-index: 110;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f3f3f3;
}

.right{
    justify-self: flex-end;
    margin: 6px 0px;
    position: absolute;
    right: 0;
    height: 85%;
}
.startmenu{
    position: absolute;
     /* bottom: 50px; */
     width: 100%;
     text-align: center;
     /* height: 70%; */
     transition: all 0.3s ease-in;
     bottom: -650px;
}
.startmenu img{
    border-radius: 10px;
}
